In [7]:
import plotly
import plotly.graph_objs as go
import plotly.express as px
from plotly.subplots import make_subplots
import sys
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [8]:
!pip install openpyxl

Requirement already satisfied: openpyxl in d:\projects_git\lesson_34_plotly\venv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in d:\projects_git\lesson_34_plotly\venv\lib\site-packages (from openpyxl) (1.1.0)

In [9]:
import pandas as pd
import numpy as np

In [10]:
avto = pd.read_excel("AVTO.xlsx")
avto

,Марка авто,"Вартість, грн","Споживання палива, л на 100 км","Макс швидкість, км/год","Вантажопідйомність, кг"
0,FIAT DUCATO 2.2 Multijet MT,1300000,7.3,150,1450
1,PEUGEOT BOXER 335 L3H2,1150000,7.5,150,1640
2,CITROEN JUMPER 4-35 L3H2,1314000,8.7,142,2107
3,PEUGEOT BOXER 435 L4H2,1343000,7.5,142,1900
4,FIAT DUCATO L1H1,1210000,6.4,155,1640
5,RANAULT MASTER L2H2 FWD,1146000,8.7,150,1732
6,RENAULT MASTER L4H3 4500,1462000,8.7,150,2052
7,FIAT FIORINO 1.4 MT,611000,6.4,157,610
8,RENAULT MASTER L2H2 3500,1146000,8.7,150,1535
9,PEUGEOT PARTNER 1.5 L2 PREMIUM,952000,4.5,183,931
10,VOLKSWAGEN CADDY TDI MT,1018000,4.5,173,674
11,VOLKSWAGEN CRAFTER LR HD UH,1400000,8.5,160,1345
12,MERCEDES-BENZ VITO 116 CDI MT,2258000,6.4,188,1064
13,FORD TRANSIT MT 350,1645000,6.8,157,1348
14,TOYOTA PROACE D-4D 6MT,1348000,5.9,165,1465
15,RENAULT MASTER L1H1,1554000,8.7,150,1609
16,FIAT DUCATO LH2,1248000,7.3,150,1450
17,HYUNDAI EX8 SUPER 3.9D,2218000,13.0,170,5375
18,FORD TRANSIT MT R470,1864000,7.5,155,2351
19,FORD TRANSIT MT F330,1554000,6.9,155,1241

In [11]:
df_corr = avto.corr()
df_corr

ValueError: could not convert string to float: ' FIAT DUCATO 2.2 Multijet MT'

In [13]:
df= px.data.tips("avto")